@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-signature {
  font-family: 'Great Vibes', cursive;
}

.perspective-1000 {
  perspective: 1000px;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  background-color: #000;
  color: #fff;
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.animate-blink {
  animation: blink 1s step-start infinite;
}

@keyframes subtleGlow {
  0%,
  100% {
    opacity: 0.4;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.05);
  }
}
.blur-3xl {
  animation: subtleGlow 8s ease-in-out infinite;
}
